<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OrderTrackor</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.fdm.orderTrackorController.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.fdm.orderTrackorController.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.fdm.orderTrackorController.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewOrderServlet</servlet-name>
		<servlet-class>com.fdm.orderTrackorController.NewOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewOrderServlet</servlet-name>
		<url-pattern>/neworder</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.fdm.orderTrackorController.ApplicationContextLisetener</listener-class>
	</listener>


</web-app>